.counter {
    text-align: center;
}

.counter h1 {
    color: blueviolet;
}

.counter h2 {
    color: brown;
}

.counter button {
    padding: 12px 24px;
    background-color: white;
    border: 2px solid grey;
    color: grey;
}

.counter button:hover {
    color: white;
    background-color: grey;
    font-weight: bold;
}